{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/static/searchfield.css">
<link rel="stylesheet" href="/static/list.css">
{% endblock %}

{% block title %}This is an example page{% endblock %}

{% block navbar %}
{% include 'RSNavbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
         <h3> {{ item["name"] }}</h3>
    </div>
    <div class="row">
        <div class="col-md4">
            <p>{{ item["name"] }} </p>
            <hr>
            <button class="btn btn-success">Buy!</button>
            <p>{{ item["price"] }}</p>
            <p> {{ item["description"] }}</p>
            <figure class="pull-left">
                <img class="media-object img-rounded img-responsive"  src="{{ item['url'] }}" alt="placehold.it/350x250" >
            </figure>
        </div>
    </div>
</div>
{% endblock %}


