{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/static/searchfield.css">
<link rel="stylesheet" href="/static/list.css">
{% endblock %}

{% block title %}This is an example page{% endblock %}

{% block navbar %}
{% include 'RSNavbar.html' %}
{% endblock %}

{% block content %}
  <div class="container">
      <div class="header">
          <h3 class="text-muted">Flask + BS Webshop</h3>
      </div>
      <div class="jumbotron">
          {% if search %}
            <h2>Search: someSearchstr </h2>
          {% else %}
            <h2> listing all</h2>
          {% endif %}
          <p class="lead"></p>
      </div>

    <div class="row">
		<div class="well">
            <div class="list-group">
                {% for item in items %}
                    <a href='{{ "/items/" + item["name"] }}' class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {{ item["name"] }} </h4>
                            <p class="list-group-item-text">
                                {{ item["description"] }}
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> {{ item["price"] }} <small> € </small></h2>
                            <button type="button" class="btn btn-default btn-mg btn-block"> Buy </button>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
	</div>


  </div>
{% endblock %}


